@import "tailwindcss";

body {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  grid-area: 1 / 1 / span 1 / span 3 ;
  width: 100vw;
  height: 100%;
}

nav{
  grid-area: 2 / 1 / span 1 / span 3;
  width: 100vw;
  height: 100%;
}

main {
  outline: 1px solid red;
  grid-area: 3 / 1 / span 4 / span 3;
  height: 100%;
  width: 100vw;
}


footer {
  grid-area: 4 / 1 / span 1 / span 3;
  width: 100%;
  height: 100%;
}
