@import "tailwindcss";

body {
  position: relative;
}

h1 {
  font-size: 3rem;
  text-decoration: underline;
  outline: 1px solid;
  height: 25vh;
  width: 35vh;
  margin: auto;
  text-align: center;
  display: grid;
  place-content: center;
  position: absolute;
  top: 25vh;
  right: 0;
  left: 0;
}